<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @books %>
  </tbody>
</table>

<%= link_to "Add book", new_book_url %>